<header><%- include('partials/header.ejs') -%></header>

<body>
  <div class="box" id="heading">
    <h1><%=userday%></h1>
  </div>

  <div class="box">
    <% newitem.forEach((item)=>{ %>
    <form action="/delete" method="post">
      <div id="list" class="item">
        <input
          type="checkbox"
          name="deleteItem"
          value="<%=item._id%>"
          onchange="this.form.submit()"
        />
        <p><%=item.item%></p>
      </div>
      <input type="hidden" name="listName" value="<%= userday %>" />
    </form>
    <%})%>

    <form class="item" id="additems" action="/" method="post">
      <input
        class="inputItem"
        type="text"
        name="Additem"
        placeholder="new item"
        autocomplete="off"
      />
      <button type="submit" name="list" value="<%=userday%>">+</button>
    </form>
  </div>
</body>

<footer><%- include ('partials/footer.ejs') -%></footer>
